body{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#title{
    width: 50%;
    margin-top: 10%;
}

#title h1{
    color: hsl(32, 100%, 50%);
    font-style: italic;
    font-size: 70px;
}

#title text{
    color: hsl(202, 72%, 15%);
}

#container{
    background-color: hsl(202, 72%, 15%);
    width: 21rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    border-style: solid;
    border-color: hsl(202, 75%, 47%);
    border-width: 1px;
    margin-top: 5%;
    padding: 1%;
}

#container h2{
    color: white;
    font-size: 25px;
}

.google-btn {
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}

.google-icon-wrapper{
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: white;
}

.google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}

.btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}

.google-btn:active {
    transform: scale(1.1);
}

@import url(https://fonts.googleapis.com/css?family=Roboto:500);

#container hr{
    width: 90%;
}

#container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin-top: 4%;
    margin-bottom: 3%;
}

#container form input{
    width: 90%;
    padding: 4%;
    margin-bottom: 4%;
    background-color: white;
}

#submit{
    width: 60%;
    color: white;
    background-color: hsl(32, 100%, 50%);;
    border-style: hidden;
    padding: 3%;
    font-size: large;
}

#submit:active{
    transform: scale(1.1);
    background-color: black;
}

#fp{
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding-bottom: 2%;
}

#fp:active{
    transform: scale(1.1);
    
}

@media screen and (max-width:700px){
    #title{
        width: 100%;
        text-align: center;
        margin-top: 0%;
    }   

    body{
        flex-direction: column;
        align-items: center;
    }

    #title h1{
        font-size: 35px;
    }

    #title text{
        display: none;    
    }

}
